[submodule "Utils"]
	path = Utils
	url = https://github.com/lazyGeeek/Utils.git
[submodule "Window"]
	path = Window
	url = https://github.com/lazyGeeek/Window.git
[submodule "UI"]
	path = UI
	url = https://github.com/lazyGeeek/UI.git
[submodule "OpenGL"]
	path = OpenGL
	url = https://github.com/lazyGeeek/OpenGL.git
